# Compiled output
# *.js
# !k6-scripts/**/*.js
# !tests
# *.js.map

# Node modules
node_modules/

# Build artifacts
dist/
build/
out/

# Logs and temporary files
*.log
.cache/
tmp/

# IDE-specific files
.vscode/
.idea/

# Environment variables
.env
.env.local

temp/